<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p, a {
            border: solid 10px red;
            padding: 20px;
            margin: 40px;
            width: 200px;
        }     
    </style>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quibusdam, earum perspiciatis quod soluta unde delectus itaque ratione commodi atque et dolores dignissimos expedita eos! Ex recusandae suscipit sit nostrum!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quibusdam, earum perspiciatis quod soluta unde delectus itaque ratione commodi atque et dolores dignissimos expedita eos! Ex recusandae suscipit sit nostrum!</p>
    안녕하세요 <a href="www.naver.com">인라인 레벨</a>입니다
</body>
</html>