<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html {
            border: solid 1px gray;
        }
        div {
            border: solid 5px tomato;
            margin: 10px;
        }
        .me {
            position: relative;
            left: 100px;
            top: 100px;
        }
    </style>
</head>
<body>
    <div class="other">other</div>
    <div class="parent">
        parent
        <div class="me">me</div>
    </div>
</body>
</html>