<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .parent, .other, .grand {
            border: solid 5px tomato;
        }
        .grand {
            position: relative;
        }
        .me {
            background-color: black;
            color: white;
            position: absolute;
            left: 0px;
            top: 0px;
        }
    </style>
</head>
<body>
    <div class="other">other</div>
    <div class="grand">
        grand
        <div class="parent">
            parent
            <div class="me">me</div>
        </div>
    </div>
</body>
</html>