<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            padding-top: 30px;
        }
        .parent, .other, .grand {
            border: solid 5px tomato;
        }
        .large {
            height: 10000px;
            background-color: tomato;
        }
        .me {
            background-color: black;
            color: white;
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 30px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="other">other</div>
    <div class="parent">
        parent
        <div class="me">me</div>
    </div>
    <div class="large">large</div>
</body>
</html>