.stage {
    position: relative;
    background-color: #fff000;
    width: 100vw;
    height: 70vw;
}
@keyframes moving {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(90vw);
    }
}

.ilbuni {
    position: absolute;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    border: solid 1px black;
    animation: moving infinite alternate;
    
}
.a {
    left: 5%;
    bottom: 5%;
    background-image: url('../images/ilbuni_0.png');
    animation-duration: 2s;
}
.b {
    left: 10%;
    bottom: 5%;
    background-image: url('../images/ilbuni_1.png');
    animation-duration: 3s;
}
.c {
    left: 5%;
    bottom: 10%;
    background-image: url('../images/ilbuni_2.png');
    animation-duration: 4s;
}
