<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vision AI Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Object Detection and Price Prediction</h1>
    <form id="upload-form" enctype="multipart/form-data">
        <input type="file" name="image" id="image-input" accept="image/*" required>
        <button type="button" onclick="uploadImage()">Upload</button>
    </form>

    <div id="image-container">
        <img id="uploaded-image" src="" alt="Uploaded Image">
    </div>

    <div id="result-container"></div>

    <!-- <h1>Vision AI Demo</h1>
    <form id="upload-form" enctype="multipart/form-data">
        <input type="file" name="image" id="image-input" accept="image/*" required>
        <button type="button" onclick="uploadImage()">Upload</button>
    </form>
    <div id="result-container"></div>
    
    <div id="image-container">
        <img id="uploaded-image" src="" alt="Uploaded Image">
    </div> -->

    <!-- <h1>Vision AI Demo</h1>
    <form id="upload-form" enctype="multipart/form-data">
        <input type="file" name="image" id="image-input" accept="image/*" required>
        <button type="button" onclick="uploadImage()">Upload</button>
    </form>
    <div id="result-container"></div> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
